/*-- scss:defaults --*/
$body-bg: $base02;
$body-color: $base3;
$navbar-bg: $base03;
$dropdown-bg: $base03;
$dropdown-link-color: $base1;
$nav-tabs-link-active-bg: $base01;
$nav-tabs-link-active-color: $base02;
$code-block-bg: $base01;
$code-block-bg-alpha: -.8;
$code-color: $ccyan;
$web-font-path: false;  // disable Google Fonts

/*-- scss:rules --*/
/* Based on http://jmclawson.net/posts/quarto-css/ */
div.cell-output {
    margin-left:  5%;
    margin-right: 5%;
    background-color: $base03;
    border: 1px solid rgba(233, 236, 239, .2);
    border-radius:.25rem
}

a {
    color: $cblue !important;
    text-decoration: none;
}

a:hover {
    background-color: $cblue;
    color: $base2 !important;
    text-decoration: none;
}

.sidebar nav[role=doc-toc] ul > li > a:hover, .sidebar nav[role=doc-toc] ul > li > ul > li > a:hover {
    color:$base2 !important
}

h1 {
    font-size: 200%;
    color: $cgreen;
}

h2, h3 {
    text-align: center;
    color: $ccyan;
}

h4 {
    text-align: left;
    color: $ccyan;
    font-size: 135%
}

h5, h6 {
    text-align: left;
    color: $ccyan;
    font-size: 120%
}

.coursecontent {
    margin-left: 15%;
    margin-right: 15%;
    background-color: $base03;
    padding: 10px;
}
