/*-- scss:defaults --*/
$base3: #002b36;
$base2: #073642;
$base1: #586e75;
$base0: #657b83;
$base00: #839496;
$base01: #93a1a1;
$base02: #eee8d5;
$base03: #fdf6e3;
$cyellow: #b58900;
$corange: #cb4b16;
$cred: #dc322f;
$cmagenta: #d33682;
$cviolet: #6c71c4;
$cblue: #268bd2;
$ccyan: #2aa198;
$cgreen: #859900;
